@font-face {
    font-family: "Dancing";
	src: url("fonts/DancingScript-Regular.otf");
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background:#02010a;
	font-family: "Dancing";
}
 
#contenido {
	
	max-width: 900px;
	margin:auto;
	display:flex;
	flex-flow:row wrap;
}

header
{
	width:100%;
	padding:20px;
 
	/* Flexbox */
	display: flex;
	justify-content:space-between;
	align-items:center;
 
	flex-flow:row wrap;
	background-color:  #5b7989;
    color:white;
	border-radius: 10px 10px 0px 0px;
	animation-duration: 1s;
  	animation-name: slidein;
}

@keyframes slidein {
	0% {
		margin-top: 150%;
	}
	60%{
		margin-top: -5%;
	}
	100%{
		margin-top: 0%;
	}

  }

header nav{
    width:35%;
	font-size: 1.3em;
	   

	
	/* Flexbox */
 
	display:flex;
	flex-wrap:wrap;
	align-items:center;
}

header nav  a{
	text-align: center;
	color:#fff;
	font-weight: bold;
	text-shadow: 2px 0px 0px #02010a;
	padding:0px;
	/* Flexbox */
	flex-grow:1;
}


.selected{
	text-decoration:none;
}

header h1{
    text-shadow: 2px 2px 0px #02010a;
}

#seccion1{
	background-color: #82c3a6;
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	padding: 10px 0;
}

#seccion2{
	background-color: #d5c75f;
	display: flex;
	flex-direction:row;
	flex-wrap:nowrap;
	align-items: center;
	border: 1px;
	padding: 10px 0;
}

article{
	text-align:center;
	box-sizing: box-sizing;
}

article img{
	width: 100%;
	max-height:300px;
	box-shadow: 2px 2px 0px #02010a;
}

article a{
	color:#000;
}

#columna1{
	padding: 10px 30px;
}

#columna2{
	padding: 10px 20px;
}

#columna2 img{
	box-shadow: 2px 2px 2px #02010a;
	transition: transform 1s, box-shadow 1s, border 1s;
	min-height:300px;
	width:100%;
}

#columna2 img:hover{
	transform: rotate(10deg);
	box-shadow: 2px 2px 2px #82c3a6;
	border: 2px;
}

#columna3{
	padding: 10px 20px;
}

#columna3 img{
	box-shadow: 2px 2px 2px #02010a;
	transition: transform 1s, box-shadow 1s, border 1s;
	min-height:300px;
	width:100%;
}

#columna3 img:hover{
	transform: translate(20px,-5px);
	box-shadow: 2px 2px 2px #82c3a6;
	border: 2px;
	
}

#retratos{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	background-color: #d5c75f;
}
#retratos img{
	height:150px;
	width:30%;
	height:auto;
	/*padding: 15px 0px;*/
	margin: 10px 0px;
	box-shadow: 2px 2px 2px #02010a;
}

#retratos img:first-child{
	filter: blur(10px);
}

#retratos img:nth-child(3){
	filter: sepia(90%);
}

#retratos img:nth-of-type(2n) {
	filter: grayscale(100%);
}


#paisajes{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: stretch;
	background-color: #d5c75f;
}

#paisajes img:first-child{
	filter: blur(10px);
}

#paisajes img:nth-child(3){
	filter: sepia(90%);
}

#paisajes img:nth-of-type(2n) {
	filter: grayscale(100%);
}

#paisajes img{
	width: 30%;
	height:150px;
	/*padding: 15px 0px;*/
	margin:10px 0px;
	box-shadow: 2px 2px 2px #02010a;
}

footer {
	background:#C6d5c5;
	width: 100%;
	border-radius: 0 0 10px 10px;
	font-size:1.3em;
	box-sizing:border-box;
	/* Flexbox */
	display: flex;
	flex-flow:column no-wrap;
	justify-content:space-between;
}

footer div{
	padding: 10px 19px;
	
}
 
ul li{
	text-decoration: none;
	list-style: none;
	word-wrap: break-word;
	font-size:0.9em;
	text-align: center;
}
 
#social a {
	color:#000;
	text-decoration: none;
	display: inline-block;
	
}
#social a:visited {
	color:#000;
	
}

#social li img{
	width: 16px;
}

@media screen and (max-width:900px){
	#seccion2{
		flex-flow: column nowrap;
	}

	header{
		width: 100%;
		flex-flow:column wrap;
	}
	header nav{
		width: 100%;
		padding: 0;
	}
	header h1{
		text-align: center;
	}

	#main{
		width: 100%;
	}

	#paisajes{
		flex-flow: column nowrap;
		align-content: center;
	}

	#paisajes img{
		width: 100%;
		align-items: center;
		height: auto;
		
		
	}

	#retratos{
		flex-flow: column nowrap;
		align-content: center;
	}
	
	#retratos img {
		justify-content:space-around;
		width: 100%;
		height: auto;
	 }

	footer{
		flex-flow: column nowrap;
		justify-content:space-around;

	}
	footer div{
		width:100%;
	}
	ul li{
		text-align: left;
	}
}